<!DOCTYPE html>
<html>
    <head>
        <title>
            <script src="../htmx.min.js"></script>
            About
        </title>
    </head>
    <body>
        <button hx-post="/clicked"
            hx-trigger="click"
            hx-target="#parent-div"
            hx-swap="outerHTML"
        >
            {{ button_text }}
        </button>
        <p>
            {% for iter in list %}
            <ul>{{ iter.name }}</ul>
                <li>Id: {{ iter.id }}</li>
                <li>Name: {{ iter.name }}</li>
                <li>Email: {{ iter.email }}</li>
            {% endfor %}
        </p>
    </body>
</html>