<!DOCTYPE html>
<html>
    <head>
        <title>
            <script src="../htmx.min.js"></script>
            About
        </title>
    </head>
    <body>
        <button hx-post="/clicked"
            hx-trigger="click"
            hx-target="#parent-div"
            hx-swap="outerHTML"
        >
            {{ button_text }}
        </button>
        <p>
            <ul>
            {% for user in user_list %}
            User id: **{{ user.id }}**
            <li>{{ user.name }}</li>
            <li>{{ user.email }}</li>
            {% endfor %}
            </ul>
        </p>
    </body>
</html>