<!DOCTYPE html>
<title>
    New User
</title>
<body>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
<form 
    hx-post="/api/create-user"
    hx-ext="json-enc"
>
    <input type="text" id="id" name="id">
        Field for new id: 
    </input>
    <input type="text" id="name" name="name">
        Field for new name: 
    </input>
    <input type="text" id="email" name="email">
        Field for new email: 
    </input>
    <button type="submit">
        {{ button_text }}
    </button>
</div>
</body>